body{
	background: url("../images/background.jpg");
	background-size: 100%;
    background-repeat: repeat;
    
    
}
header {
	background: #cb202d;
	
    color: white;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: bold;
    padding: 5px 15px;
	text-align: center;
}
.formWrapper {
    background-color: #cb202d;
    border-radius: 5px;
    margin: 10px auto;
    padding: 10px 25px;
    width: 80%;
	height: auto;
}		
.venues {
    background-color: white;
    border-radius: 5px;
    margin-bottom: 20px;
	padding: 10px;
}		
